@keyframes wcmap-marker-pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	70% {
		transform: scale(3);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes wcmap-location-pulse {
	0% {
		color: c(gray);
	}
	50% {
		color: c(blue);
	}
	100% {
		color: c(gray);
	}
}
