.add {
	position: relative;
	&__agreement {
		margin-bottom: $space-item;
		position: relative;
		z-index: 10;
	}
	&__position-desc {
		margin-top: 1em;
		padding: 1rem 1rem 1rem 5rem;
		position: relative;
		background-color: #fff;
		border: 1px solid c(gray);
		//border-radius: $border-radius;
	}
	&__position-icon {
		position: absolute;
		left: 1rem;
		top: 50%;
		transform: translateY(-50%);
		font-size: 3rem;
		color: c(gray, light);
		&--red {
			color: c(red);
		}
	}
	&__position--set {
		.add__position-icon {
			color: c(red);
		}
	}
}

.add-marker {
	width: 50px;
	height: 50px;
	background-image: url('../img/marker.svg');
	background-size: contain;
	background-position: center center;
	//transform: translateX(-50%) translateY(0) !important;
}
