.content {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	&__logo {
		width: 90%;
		margin: 0 auto;
		display: none;
		@include desktop {
			display: block;
		}
		svg {
			width: 100%;
		}
	}
	&__navigation {
		margin-top: $space-nav;
		font-size: 5.5rem;
		min-height: 85px;
		&.navigation {
			@include phone {
				display: none;
			}
		}
	}

	&__content {
		margin: 0 -#{$space-nav} -#{$space-nav} -#{$space-nav};
		padding: 0 $space-nav;
		@include desktop {
			margin-top: $space-nav;
		}
		overflow: auto;
		& > *:last-child {
			margin-bottom: $space-nav;
		}
	}
	&__support {
		margin-top: auto;
		display: none;
		@include desktop {
			display: block;
		}
	}
}

.content-support {
	&__title {
		font-weight: 400;
		font-size: $font-size;
	}
	&__element {
		padding-left: calc(60px + #{$space-item});
		position: relative;
		min-height: 60px;
		margin-top: $space-item;
	}
	&__link {
		display: block;
		color: c(blue);
	}
	&__image {
		position: absolute;
		width: 60px;
		left: 0;
		right: 0;
	}
}

.content-footerlinks {
	margin-top: $space-nav;
	&__element {
		color: c(blue);
		display: inline-block;
		font-size: $font-size-small;
	}
	& > * + * {
		margin-left: $space-item/2;
		padding-left: $space-item/2;
		position: relative;
		&:before {
			content: '';
			width: 1px;
			background-color: c();
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
		}
	}
}
