.cookiebanner {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: c();
	color: #fff;
	z-index: 9100;
	padding: $space-item;
	p, p a {
		color: #fff;
	}
	&__about {
		& > * + * {
			margin-top: 1em;
		}
	}
	&__controls {
		text-align: right;
	}
	@include desktop {
		display: flex;
		align-items: center;
		&__controls {
			margin-left: auto;
		}
	}
	&__privacy {
		//display: inline-block;
		position: relative;
		text-decoration: none;
		background-image: linear-gradient(to right, currentColor 75%, transparent 75%);
		background-position: 0 1.3em;
		background-repeat: repeat-x;
		background-size: .5em .05em;
		color: #fff;
		opacity: .8;
		&:hover {
			opacity: 1;
		}
	}
}