.morenav {
	&__category:not(:first-child):not(:nth-child(2)) {
		border-top: 1px solid c();
		padding-top: $space-item/2;
		margin-top: $space-item/2;
	}

	&__category--map {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: $space-item 0;
		.o-hello-icon {
			font-size: 3rem;
			opacity: .5;
		}
		.o-button {
			width: calc(50% - 3rem);
		}
	}

	&__element {
		display: flex;
		align-items: center;
		padding: $space-item/2 0;
		&--active {
			color: c(blue);
		}
	}
	&__icon {
		flex-basis: 3rem;
	}
	&__content {
		&--selectlang {
			.o-helloform__input {
				border-bottom: none;
				padding-right: 3rem;
			}
			&:after {
				top: 30%;
			}
		}
	}
	&__body {
		padding: $space-item 0;
	}
	&__element--filter .morenav__content {
		padding-right: 1.2em;
		display: inline-block;
		position: relative;
		&:after {
			content: '';
			width: 0.7em;
			height: 0.7em;
			border-bottom: 2px solid currentColor;
			border-left: 2px solid currentColor;
			position: absolute;
			right: 0;
			top: 0;
			transform: rotate(-45deg);
			pointer-events: none;
			@include transition();
			will-change: transform;
		}
		&--open:after {
			transform: rotate(-225deg) translate3d(50%, -30%, 0);
		}
	}
}

body:not(.can-install) {
	.morenav__category--a2h {
		display: none;
	}
}
