.more {
	display: flex;
	flex-direction: column;
	flex: 1;

	&__footer {
		margin-top: auto;
		padding-top: $space-item;
		display: flex;
		justify-content: space-between;
	}

	&__feedback,
	&__update {
		font-size: $font-size-small;
	}
}
