.navtoggler {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: c(brown);
	cursor: pointer;
	position: relative;
	display: block;
	&__line {
		background-color: #fff;
		position: absolute;
		height: 5%;
		left: 50%;
		top: 50%;
		width: 60%;
		margin-top: -2.5%;
		will-change: transform;
		@include transition(transform);
		transform: translateX(-50%) translateY(0);
		pointer-events: none;
		&--1 {
			transform: translateX(-50%) translateY(-300%);
		}
		&--3 {
			transform: translateX(-50%) translateY(300%);
		}
	}
	&[aria-expanded='true'] {
		.navtoggler__line {
			&--1 {
				transform: translateX(-50%) translateY(0) rotate(45deg);
			}
			&--2 {
				transform: translateX(-50%) translateY(0) scale(0);
			}
			&--3 {
				transform: translateX(-50%) translateY(0) rotate(-45deg);
			}
		}
	}
}
