.page {
	&__title {
		color: c(blue);
		display: none;
		@include desktop {
			display: block;
		}
	}

	&__loading {
		position: relative;
		height: 30vh;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -25px 0 0 -25px;
			@include spinner(50px, 2px solid c());
		}
	}

	&__content {
		@include desktop {
			margin-top: $space-item;
		}
	}
}

.page-content {
	h2,
	h3 {
		font-size: $font-size;
		margin-bottom: 0.5rem;
		//margin-bottom: -1rem;
	}

	h2 {
		font-size: 2rem;
		color: #5582c2;
		font-weight: 400;
		margin-bottom: 2rem;
	}

	h3 {
		color: #000;
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	& > * + * {
		margin-top: 1rem;
	}

	& > img {
		margin-bottom: $space-item;
	}

	& > * + h2 {
		margin-top: $space-item * 1.5;
	}

	p {
		vertical-align: top;
		margin-bottom: 0;
	}

	a {
		color: c(blue);
		//display: inline-block;
		position: relative;
		text-decoration: none;
		background-image: linear-gradient(to right, currentColor 75%, transparent 75%);
		background-position: 0 1.2em;
		background-repeat: repeat-x;
		background-size: 0.5em 0.05em;
		&:hover {
			color: c();
		}
	}

	ul,
	ol {
		margin-left: 1.2em;
	}

	.wp-block-image {
		figcaption {
			text-align: right;
			font-size: $font-size-small;
			font-style: italic;
		}
	}

	.aligncenter {
		text-align: center;
	}

	.grid-container-3-1 {
		display: grid;
		margin: 0 0 2rem;
		grid-template-columns: 1fr 25%;
		grid-template-rows: 1fr;
		grid-template-areas: '. .';
		padding: 0;
		align-items: center;
		grid-column-gap: 1em;
		img {
			max-height: 60px;
			float: right;
		}
	}

	.grid-container-1-3 {
		display: grid;
		grid-template-columns: 25% 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: '. .';
		padding: 0;
		align-items: center;
		grid-column-gap: 1em;
	}
}
