.search-form {
	$space: 2.5rem;
	position: relative;
	font-size: $font-size;
	&__input {
		padding: $space*0.5 $space $space*0.5 ($space + $font-size);
		border: 1px solid c(gray, light);
		border-radius: $border-radius;
		width: 100%;
		display: block;
		line-height: 100%;
		&:focus {
			& + .searchform__icon {
				color: c();
			}
		}
	}
	&__icon {
		position: absolute;
		left: $space*0.5;
		top: $space*0.5;
		color: c(gray);
	}
}

.search-list {
	margin-top: 1rem;
	&__element {
		padding: 1.6em 0;
		display: flex;
		align-items: center;
		width: 100%;
		text-align: left;
		border-bottom: 1px solid c(gray);
			&:hover {
			background-color: #fff;
		}
	}
}
