.toggle-trigger {
	cursor: pointer;
	position: relative;
	&:after {
		content: '';
		width: 0.6em;
		height: 0.6em;
		border-bottom: 2px solid currentColor;
		border-right: 2px solid currentColor;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-80%) rotate(45deg);
		@include transition(transform);
	}
	&[data-trigger-open='true'] {
		&:after {
			transform: translateY(-60%) rotate(-135deg);
		}
	}
}

.toggle-target {
	display: none;
}
