.toilet {
  max-width: 350px;
  min-width: 300px;
  padding: 10px;
  font-family: $font;
  font-size: $font-size;
  display: flex;
  flex-wrap: wrap;

  p {
    line-height: 1.4;
  }

  position: relative;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: 5px;
    }
  }

  &__side {
    padding-left: $space-item/2;
    box-sizing: content-box;
    width: 50px;
  }

  &__type {
    color: c(green);
    font-size: $font-size-small;
  }

  &__title {
    font-size: $font-size-large;
    font-weight: bold;
  }

  &__features {
    @include clearfix();
    margin-left: -3px;

    img {
      display: block;
      width: 25px;
      float: left;

      & + img {
        margin-left: 2px;
      }
    }
  }

  &__url {
    font-size: $font-size-small;

    a {
      color: c(green);
    }
  }

  &__opening-hours {
    font-size: $font-size-small;
    color: c(blue);
  }

  &__description {
    color: c(black, light);
  }

  &__error {
    font-size: $font-size-small;
    text-align: right;
    padding-top: $space-item/2;
    flex-basis: 100%;
  }

  &__error-button {
    color: c(blue);
  }

  &__direction {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: $space-item;
    filter: grayscale(100%);
    opacity: .4;
  }

  &__way {
    margin-top: 5px;
    text-align: center;

    span {
      display: block;
      font-size: $font-size-small * 0.8;
      color: c(black, light);
      line-height: 140%;
    }
  }

  &--route-active {
    .toilet__direction {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}
