.grid-container-3-1 {
	display: grid;
	grid-template-columns: 1fr 25%;
	grid-template-rows: 1fr;
	grid-template-areas: ". .";
	padding: 0;
	align-items: center;
	grid-column-gap: 1em;
}

.grid-container-1-3 {
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". .";
	padding: 0;
	align-items: center;
	grid-column-gap: 1em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-family: Open Sans, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2.6rem;
	color: #5582c2;
	margin-bottom: 2rem;
}

h2 {
	font-size: 1.5rem;
	color: #000;
	font-weight: 700;
	margin-bottom: 1rem;
}

h3 {
	color: #959494;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}